.Home-heading {
  color: var(--primary);
  font-size: 80px;
  padding: 5% 30%;
}

.Home-body {
  /* width: 60%;
  height: 60%; */
  /* background-color: var(--grey); */
  /* padding: 0 20%; */
  /* margin: auto; */
  position: relative;
  width: 100vw; /* 100% of the viewport width */
  height: 92.5vh; /* 100% of the viewport height */
  overflow: hidden; /* Hide any overflow */
}

.Home-button {
  background-color: var(--na);
  border-radius: var(--m);
  padding: var(--m);
  margin: var(--l);
  border-color: var(--primary-light);
  width: 240px;
  height: 72px;
}

.Home-button-text {
  text-decoration: none;
  color: var(--primary);
  font-size: var(--l);
}

.Home-img {
  position: absolute;
  width: 100vw;
  height: 93vh;
  overflow: hidden;
  opacity: 75%;
  object-fit: cover;
}
