/* Fill me in :) */
.NavBar-container {
  padding: var(--s) var(--m);
  background-color: var(--primary-light);
  height: 5vh;
  align-items: center;
}

.NavBar-title {
  text-decoration: none;
  color: var(--primary);
  font-size: var(--l);
  padding: 4px;
}

.NavBar-linkContainer {
  margin-left: var(--l);
}

.NavBar-link,
.NavBar-link:visited {
  font-size: var(--m);
  color: black;
  opacity: 0.6;
  text-decoration: none;
  padding: 0px var(--m);
}

.NavBar-link:hover {
  opacity: 0.8;
}

.NavBar-link.NavBar-login {
  opacity: 1;
}

.NavBar-link + .NavBar-link {
  margin-left: var(--m);
}

.Skeleton-dropDownContainer {
  display: inline-block;
}

.Skeleton-dropDownButton {
  position: relative;
}
